name: crucible-ci

on:
  # run on push or pull request events for the master branch only
  pull_request:
    branches: [ master ]

  # allow for manual invocation from the actions tab
  workflow_dispatch:

jobs:
  crucible-ci-samples-iteration-repeat-runs-fio:
    name: crucible-ci-samples-iteration-repeat-runs-fio
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Show Environment
      run: |
        whoami
        echo
        pwd
        echo
        ls -la

    - name: Git Clone crucible-ci
      run: |
        pushd ~/
        git clone https://github.com/perftool-incubator/crucible-ci.git

    - name: Setup CI Environment
      run: |
        sudo ~/crucible-ci/setup-ci-environment --ci-target rickshaw --ci-target-dir $(pwd)

    - name: Run CI
      run: |
        sudo ~/crucible-ci/run-ci --samples 3 --repeat-runs --scenarios fio

  crucible-ci-all-userenvs-fio:
    name: crucible-ci-fio
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Show Environment
      run: |
        whoami
        echo
        pwd
        echo
        ls -la

    - name: Git Clone crucible-ci
      run: |
        pushd ~/
        git clone https://github.com/perftool-incubator/crucible-ci.git

    - name: Setup CI Environment
      run: |
        sudo ~/crucible-ci/setup-ci-environment --ci-target rickshaw --ci-target-dir $(pwd)

    - name: Run CI
      run: |
        sudo ~/crucible-ci/run-ci --userenvs all --scenarios fio

  crucible-ci-all-userenvs-uperf:
    name: crucible-ci-uperf
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Show Environment
      run: |
        whoami
        echo
        pwd
        echo
        ls -la

    - name: Git Clone crucible-ci
      run: |
        pushd ~/
        git clone https://github.com/perftool-incubator/crucible-ci.git

    - name: Setup CI Environment
      run: |
        sudo ~/crucible-ci/setup-ci-environment --ci-target rickshaw --ci-target-dir $(pwd)

    - name: Run CI
      run: |
        sudo ~/crucible-ci/run-ci --userenvs all --scenarios uperf
