name: crucible-ci

on:
  # run on push or pull request events for the master branch only
  pull_request:
    branches: [ master ]

  # allow for manual invocation from the actions tab
  workflow_dispatch:

jobs:
  crucible-ci-samples-iteration-repeat-runs-fio-remotehost:
    name: crucible-ci-samples-iteration-repeat-runs-fio-remotehost
    runs-on: ubuntu-latest

    steps:
    - name: Checkout rickshaw
      uses: actions/checkout@v2
      with:
        path: rickshaw

    - name: Checkout crucible-ci
      uses: actions/checkout@v2
      with:
        repository: perftool-incubator/crucible-ci
        ref: main
        path: crucible-ci

    - name: Run crucible-ci->integration-tests
      uses: ./crucible-ci/.github/actions/integration-tests
      with:
        artifact_tag: "samples-iteration-repeat-runs-remotehost"
        ci_target: "rickshaw"
        ci_target_dir: ${{ github.workspace }}/rickshaw
        scenarios: "fio"
        repeat_runs: "yes"
        run_samples: "3"
        ci_endpoint: "remotehost"

  crucible-ci-samples-iteration-repeat-runs-fio-k8s:
    name: crucible-ci-samples-iteration-repeat-runs-fio-k8s
    runs-on: ubuntu-latest

    steps:
    - name: Checkout rickshaw
      uses: actions/checkout@v2
      with:
        path: rickshaw

    - name: Checkout crucible-ci
      uses: actions/checkout@v2
      with:
        repository: perftool-incubator/crucible-ci
        ref: main
        path: crucible-ci

    - name: Run crucible-ci->integration-tests
      uses: ./crucible-ci/.github/actions/integration-tests
      with:
        artifact_tag: "samples-iteration-repeat-runs-k8s"
        ci_target: "rickshaw"
        ci_target_dir: ${{ github.workspace }}/rickshaw
        scenarios: "fio"
        repeat_runs: "yes"
        run_samples: "3"
        ci_endpoint: "k8s"

  crucible-ci-all-userenvs-fio-remotehost:
    name: crucible-ci-all-userenvs-fio-remotehost
    runs-on: ubuntu-latest

    steps:
    - name: Checkout rickshaw
      uses: actions/checkout@v2
      with:
        path: rickshaw

    - name: Checkout crucible-ci
      uses: actions/checkout@v2
      with:
        repository: perftool-incubator/crucible-ci
        ref: main
        path: crucible-ci

    - name: Run crucible-ci->integration-tests
      uses: ./crucible-ci/.github/actions/integration-tests
      with:
        artifact_tag: "fio-remotehost"
        ci_target: "rickshaw"
        ci_target_dir: ${{ github.workspace }}/rickshaw
        scenarios: "fio"
        userenvs: "all"
        ci_endpoint: "remotehost"

  crucible-ci-all-userenvs-fio-k8s:
    name: crucible-ci-all-userenvs-fio-k8s
    runs-on: ubuntu-latest

    steps:
    - name: Checkout rickshaw
      uses: actions/checkout@v2
      with:
        path: rickshaw

    - name: Checkout crucible-ci
      uses: actions/checkout@v2
      with:
        repository: perftool-incubator/crucible-ci
        ref: main
        path: crucible-ci

    - name: Run crucible-ci->integration-tests
      uses: ./crucible-ci/.github/actions/integration-tests
      with:
        artifact_tag: "fio-k8s"
        ci_target: "rickshaw"
        ci_target_dir: ${{ github.workspace }}/rickshaw
        scenarios: "fio"
        userenvs: "all"
        ci_endpoint: "k8s"

  crucible-ci-all-userenvs-uperf-remotehost:
    name: crucible-ci-all-userenvs-uperf-remotehost
    runs-on: ubuntu-latest

    steps:
    - name: Checkout rickshaw
      uses: actions/checkout@v2
      with:
        path: rickshaw

    - name: Checkout crucible-ci
      uses: actions/checkout@v2
      with:
        repository: perftool-incubator/crucible-ci
        ref: main
        path: crucible-ci

    - name: Run crucible-ci->integration-tests
      uses: ./crucible-ci/.github/actions/integration-tests
      with:
        artifact_tag: "uperf-remotehost"
        ci_target: "rickshaw"
        ci_target_dir: ${{ github.workspace }}/rickshaw
        scenarios: "uperf"
        userenvs: "all"
        ci_endpoint: "remotehost"

  crucible-ci-all-userenvs-uperf-k8s:
    name: crucible-ci-all-userenvs-uperf-k8s
    runs-on: ubuntu-latest

    steps:
    - name: Checkout rickshaw
      uses: actions/checkout@v2
      with:
        path: rickshaw

    - name: Checkout crucible-ci
      uses: actions/checkout@v2
      with:
        repository: perftool-incubator/crucible-ci
        ref: main
        path: crucible-ci

    - name: Run crucible-ci->integration-tests
      uses: ./crucible-ci/.github/actions/integration-tests
      with:
        artifact_tag: "uperf-k8s"
        ci_target: "rickshaw"
        ci_target_dir: ${{ github.workspace }}/rickshaw
        scenarios: "uperf"
        userenvs: "all"
        ci_endpoint: "k8s"

  crucible-ci-all-userenvs-iperf-remotehost:
    name: crucible-ci-all-userenvs-iperf-remotehost
    runs-on: ubuntu-latest

    steps:
    - name: Checkout rickshaw
      uses: actions/checkout@v2
      with:
        path: rickshaw

    - name: Checkout crucible-ci
      uses: actions/checkout@v2
      with:
        repository: perftool-incubator/crucible-ci
        ref: main
        path: crucible-ci

    - name: Run crucible-ci->integration-tests
      uses: ./crucible-ci/.github/actions/integration-tests
      with:
        artifact_tag: "iperf-remotehost"
        ci_target: "rickshaw"
        ci_target_dir: ${{ github.workspace }}/rickshaw
        scenarios: "iperf"
        userenvs: "all"
        ci_endpoint: "remotehost"

  crucible-ci-all-userenvs-iperf-k8s:
    name: crucible-ci-all-userenvs-iperf-k8s
    runs-on: ubuntu-latest

    steps:
    - name: Checkout rickshaw
      uses: actions/checkout@v2
      with:
        path: rickshaw

    - name: Checkout crucible-ci
      uses: actions/checkout@v2
      with:
        repository: perftool-incubator/crucible-ci
        ref: main
        path: crucible-ci

    - name: Run crucible-ci->integration-tests
      uses: ./crucible-ci/.github/actions/integration-tests
      with:
        artifact_tag: "iperf-k8s"
        ci_target: "rickshaw"
        ci_target_dir: ${{ github.workspace }}/rickshaw
        scenarios: "iperf"
        userenvs: "all"
        ci_endpoint: "k8s"
